[2020-11-03 14:30] MaxStalker opened #3 "Allow addressMap argument in the getContractByName method"
`getContractByName` is currently missing addressMap argument to replace import addresses in contract code

[2020-11-03 16:09] MaxStalker opened #5 "Allow object to be passed as arguments"
### Problem
At the moment it's not possible to pass object/dictionary as argument. For example, one of the TopShot methods requires `{String:String}` dictionary:
https://github.com/dapperlabs/nba-smart-contracts/blob/master/lib/go/templates/data/play_metadata.go

### Solution
Flow JS SDK have support for passing dictionaries as arguments:
https://github.com/onflow/flow-js-sdk/tree/master/packages/

[2020-11-05 18:05] #3 closed

[2020-12-15 02:07] timmymmit opened #6 "Flow-JS Testing Examples & Documentation"
## Context

Max has created the JS Testing Framework and we need some documentation and examples of how to use it.

## Definition of Done

Documentation on how to use the JS Testing Framework
Example code showing how to use JS Testing Framework

## PR Review

Who is your Code Partner - @MaxStalker
Who can provide external eyes - @timmymmit @psiemens

[2020-12-21 17:44] 10thfloor commented on #6
WIP here:
https://github.com/onflow/flow-playground-tutorials/tree/mackenzie/adds-more-tests/lib/javascript

[2021-01-15 01:16] 10thfloor opened #9 "Start and stop emulator from JavaScript"
While running automated tests it is sometimes necessary to reset the state of the emulator before executing Cadence code.
Currently this has to be done manualy by SIGKILL of cmd+c in the terminal where the emulator is running.

Definition of done:
- Can start and stop the emulator from JS code in tests.

[2021-02-01 23:22] MaxStalker opened #10 "Type paths break FlowManager code"
With introduction of typed Paths the code in `FlowManager` contract no longer works.
Needs update to the contract code and check that scripts use properly typed variables.

[2021-02-01 23:28] #10 closed

[2021-02-02 00:04] MaxStalker opened #13 "Allow to specify arguments for init method during contract deployment"
### Issue To Be Solved
Sometimes it's necessary to pass arguments to contract initializer.

### Suggestion
Update deploy contract transaction with method outlined by @janezpodhostnik here:
https://forum.onflow.org/t/deploy-contract-with-init-arguments/729

[2021-02-02 18:10] #13 closed

[2021-04-03 13:31] balibou commented on #6
Hello, I assume this repo is deprecated and I should focus on flow-go-sdk ?

[2021-04-03 16:02] MaxStalker commented on #6
Nope :)
It haven’t got our attention simply because not that many people asked for it and there were other items with higher priority.
But I plan to get back to it next week.

[2021-04-03 16:08] balibou commented on #6
Ah ok great, because we would love to use it for our startup  😅
By the way, I found your repo and this will be my starter for implementing unit tests with Jest, so a big thank you for that 😃

https://github.com/MaxStalker/learn-to-flow/blob/
https://github.com/MaxStalker/use-cadence-js-testing
https://github.com/MaxStalker/flow-pixel-heads

[2021-04-03 17:08] MaxStalker commented on #6
You can also export any project from Playground and get some basic setup ready :)

[2021-04-03 17:29] balibou commented on #6
ah so great ! Thanks !

Also when I generate a flow.json it doesn't work because the mapped properties are not the same than yours in your repo. It sounds that the version of your generated flow.json is deprecated (as far as I understand 😄 ).

new version (not working):
[code]

old version (working):
[code]

[2021-04-03 17:51] MaxStalker commented on #6
@balibou Indeed! 🙈
CLI was recently updated with a lot of new features and new `flow.json` is not backward-compatible.

[2021-04-03 17:57] balibou commented on #6
ahah ok I guess we'll have to work with both versions until the test repo is fully compatible 😄

[2021-04-16 14:52] MaxStalker opened #15 "Updated flow.json breaks the framework"
### Problem
Updated `flow.json` schema breaks the setup of the framework - specifically private key for service account now can't be accessed.

[2021-04-21 10:55] MaxStalker opened #17 "Methods and examples showcasing usage of FUSD"
Create methods and examples showcasing usage of FUSD contract.

[2021-04-26 20:37] #15 closed

[2021-05-10 21:20] MaxStalker opened #21 "Local imports are not replaced"
### Problem
Local imports are not replaced with addresses from addressMap.

### Steps to Reproduce
Use `import Contract from "../cadence/contracts/Contract.cdc" inside of imported template

### Acceptance Criteria
Import statements shall be correctly updated with target address.

[2021-05-12 12:23] #21 closed

[2021-05-21 14:04] MaxStalker opened #23 "Add build config to enable CI/CD and better publishing experience"
## Instructions
We can follow the path used for `flow-js-sdk` packages and use `microbundle`.

[2021-05-21 15:08] srinjoyc opened #25 "Refactoring/Improve tests repository to remove boilerplate and simplify contract deployments"
Currently, there is a lot of boilerplate involved in order to deploy all the contracts, get the available methods and pass this into tests. This includes things like:

[code]

The above shows how paths and contract addresses need to be mapped in order to run the transaction code.

This needs to be repeated to run any test and is quite repetitive. Since we know much of this information beforehand,

[2021-05-21 20:01] #23 closed

[2021-05-21 21:23] #9 closed

[2021-06-03 17:05] aishairzay opened #30 "Improper path being resolved for cadence 'manager' scripts, transactions and contracts"
### Problem
Unable to run getAccountAddress and many other functions that interact with the flow emulator without some manual changes. The path to the standard contracts, scripts, and transactions for the 'manager' seem to have been modified in an update, and the corresponding path resolving from within flow-js-testing is referencing the old path.

For reference, I'm on Windows using Git Bash, thi

[2021-06-10 15:37] MaxStalker opened #32 "Provide additional ways to setup paths to Cadence templates"
- Use existing `flow.json` file to resolve paths to contracts, transactions  and private keys.
- Provide a way to override default folder structure.

[2021-06-11 00:07] MaxStalker commented on #30
This was fixed in version `0.1.10`

[2021-06-11 00:07] #30 closed

[2021-06-12 00:19] kalitamih opened #34 "Test errors and exception in cadence contract by flow-js-testing"
**Problem**
Test function pre conditions in contract is not completely convenient, because sendTransaction function doesn't return response with error code and error message. This function throws error like a long string. In my case in order to test pre condition we need to write something like this:
[code]

To test something similar to:
[code]

[2021-06-12 10:21] MaxStalker commented on #34
What is the version of library you are using? 🤔

[2021-06-13 01:29] kalitamih commented on #34
0.1.10

[2021-06-15 03:32] rykdesjardins opened #35 "Scripts can only return booleans and numbers"
Before anything, I'd like to personally thank the maintainers of this repo. It has been of tremendous help writing our test suite.

I created a [tiny repo](https://github.com/rykdesjardins/flow-js-testing-issue-35) to give a concrete example as well as a [Playground example](https://play.onflow.org/163540c0-6fb1-4da9-a96f-5ab13441cd7c?type=account&id=58c3ab4a-9ab3-491d-bfd6-49a329b22fcb) of how it

[2021-06-15 15:01] MaxStalker commented on #35
Thank you for your kind words, @rykdesjardins! :bow:

I have investigated the issue and created a PR for your example here:
https://github.com/rykdesjardins/flow-js-testing-issue-35/pull/1

Basically, the issue you had was due to the fact that "RootContract" was not deployed, thus failing a script.
But framework was not reporting the problem properly. I will try to improve the code around this cas

[2021-06-15 15:25] rykdesjardins commented on #35
Thank you for the example correction! That was mildly embarrassing :sweat_smile:

In our test suite, everything seems to be working fine except when we return structs defined in contracts. The contracts are correctly deployed since the transaction test works great, and they're in the same test environment. It's only the scripts. Maybe we aren't mapping the contracts correctly when executing script

[2021-06-15 16:05] rykdesjardins commented on #35
Turns out the issue was with accessing a contract property directly from the script instead of going through an accessor. For reference, here's what was causing the issue.

Provided that the following contract is deployed :
[code]

#### The following script will fail with the reported error message :
[code]

#### But using an accessor will work just fine :
[code]

## Bottomline
I thought the error

[2021-06-15 16:05] #35 closed

[2021-06-15 16:59] MaxStalker commented on #35
@rykdesjardins thank you for filling the issue properly - it was a pleasure to work on it :smile_cat:

[2021-06-15 22:03] #5 closed

[2021-06-18 10:05] script-money opened #37 "All tests failed use yarn install dependencies"
### Instructions

`yarn test` cause error `Failure: Cannot coerce to Uint8Array: object`

### Problem

I use `yarn` to install testing dependencies, run `yarn test`, all of cases will fail. And show below
[code]

But use `npm install` then `yarn test` works fine.

### Steps to Reproduce

1. `git clone https://github.com/onflow/kitty-items.git`
2. `cd cadence/lib/js/`
3. `yarn`
4. `yarn test`

###

[2021-06-18 20:11] #37 closed

[2021-06-18 20:12] MaxStalker commented on #37
@script-money this shall be fixed now. Try to pull `main` branch and try again.

[2021-06-21 23:52] flockonus opened #38 "All tests failing after installing npm install updates dependencies"
### Instructions

1. git clone https://github.com/KLKTN/nfts

2. `npm test` -- this should work because `node_modules/` are committed

3. Now run `npm i` to update dependencies and run `npm test` -- this fails as some internal dependency seems incompatible. So it seems updating packages have some deep dependency out of sync

### Problem

Example of a test failing after `npm i`, all messages are li

[2021-06-21 23:53] flockonus commented on #38
@MaxStalker the error message seems quite similar to #37, could be a similar cause?

[2021-06-28 13:05] MaxStalker commented on #38
Hey, @flockonus!
Can you try to pull latest version from npm and try again?

[2021-07-14 16:38] mwufi commented on #38
Same here...

[2021-07-16 00:48] flockonus commented on #38
Hey @MaxStalker sorry the delay, I missed this message. It now works for me!

@mwufi  what's the output if you download https://github.com/KLKTN/nfts, does `npm i` and `npm test` ?

[2021-07-16 02:18] mwufi commented on #38
Hey @flockonus ! I'm getting a bunch of these errors 😔
[code]

Is there something I have to do beforehand???

[2021-07-16 05:56] flockonus commented on #38
@mwufi did you [install flow-cli](https://docs.onflow.org/flow-cli/install/)?
Might be the step missing

[2021-07-16 15:42] mwufi commented on #38
Yeah, I did....

Side note... how do we use the `flow.json` in that repo?

When I run `flow emulator` I get
[code]

[2021-07-16 16:52] flockonus commented on #38
@mwufi flow.json is loaded from the js test suite.
make sure your flow emulator **is not** running when you run the test suite, they may conflict.
In fact i'd advise to reboot your computer once to make sure the is no active process

[2021-07-16 17:11] mwufi commented on #38
Hi again! Yeah, I'm still having trouble with this.... the steps that you mentioned worked for you, though?

(clone repo, npm i, npm test)?

I'm trying to browse some other repos but I run into problems. for example, https://github.com/wutayng/moments-cadence

Sorry for all the trouble!! I feel like I have a lot of debugging issues with this library lol

[2021-07-16 17:36] mwufi commented on #38
OMFG I have to run `./setup-accounts.sh` first for that one...

1. Set up the emulator: `flow emulator`
2. Set up the accounts: `./setup-accounts.sh`
3. Run the tests: `npm test`

Then it works fine. Thanks Fabiano!

![image](https://user-images.githubusercontent.com/30219253/125987114-640581c6-4c22-4da8-bd90-2fe5bb254938.png)

[2021-07-17 12:59] caosbad opened #39 "Use generate-code cmd but clean the project folder"
## Instructions

Please fill out the template below to the best of your ability.

### Issue To Be Solved

Clone this repo and install the dependency，then I run run the generate-code cmd in package scripts, that clean the whole folder.
I use macOS 10.15.2
node v14.17.0
flow version Version: v0.25.1
yarn v1.22.4

[2021-07-17 23:14] MaxStalker commented on #39
hey, @caosbad !
I just tested it with exact setup - works just fine with `npm` and `yarn` 🤷‍♂️

Can you try one more time?

Also, what are you trying to achieve? 🤔
That `generate-code` script  is required only if you want to make changes to smart contracts and transactions related to `FlowManager`.

[2021-07-18 03:17] caosbad commented on #39
Okay, I thought that was generate the cadence code to javascript file ,maybe I have misunderstood , Thanks

[2021-07-18 10:04] MaxStalker commented on #39
If you want to use the framework for your own project, you need to install it via `npm` or `yarn` rather than cloning this repo :)

And `flow-generate` command is available via `flow-cadut` package:
https://www.npmjs.com/package/flow-cadut

This way you can transform your Cadence code into Javascript bindings :)

[2021-07-19 01:30] caosbad commented on #39
Thanks, I have done some alternative solution  for that, using the fcl-dev-wallet authz function and fcl with cadence, implement the transactions and scripts in javascript with no custodian private key ,just like kittyItems .
And I'll check the flow-cadut out, if I can use it in the future.

[2021-07-19 01:30] #39 closed

[2021-07-19 09:14] beshup opened #40 "Keys pluralized leading to mismatch with flow.json"
### Instructions

Please fill out the template below to the best of your ability and include a label indicating which tool/service you were working with when you encountered the problem.

### Problem

In `init()` on `src/init.js`, "PRIVATE_KEY" in config is set to the value at this path in `flow.json`: `"accounts/emulator-account/keys"`. However, this does not match the actual path in `flow.json`

[2021-07-19 09:14] beshup opened #41 "Transaction signing error"
### Problem

flow-js-testing isn't signing transactions properly with emulator-account.

### Steps to Reproduce

Run in first terminal:

[code]

In second terminal:

[code]

Error:
[code]

[2021-07-28 12:48] MaxStalker opened #45 "Create utility for bootstrapping framework"
It's possible to simplify the process of bootstrapping tests with a simple generator utility.
Shall support:
- installing all necessary dependencies and generating config files
- generating test suit with pre-populated imports and `beforeEach` and `afterEach` blocks

[2021-08-03 23:55] 10thfloor opened #47 "Tests are unreliable in kitty-items CI environment"
I noticed intermittent failures of tests in CI environment here: github.com/onflow/kitty-items
(Uncomment line #40 in `.github.workflows/integration-local.yml` and create a PR to observe the failure)

Tests run locally without failing using `npx jest` in `cadence/tests/js`

Things that did not fix the problem:
- Increased `jest` timeout to 5 minutes
- Changed emulator port numbers to less popular

[2021-08-05 21:29] #45 closed

[2021-08-12 07:48] MaxStalker opened #49 "Allow manipulation of timestamp returned by `getCurrentBlock` method"
### Issue To Be Solved
Currently the only way to control the time that past since last invocation of `getCurrentBlock` is to `sleep` for some specific amount of time and then execute some arbitrary method again.

### Solution

Since framework fully controls templates, which user submits to the network, we can inject `TestingUtilities` contract in every one of them, which calls `getCurrentBlock` an

[2021-08-24 15:55] psiemens commented on #47
I think there's a chance that there's a port collision happening between emulator runs. Maybe we can use a method like this to dynamically assign a free port on emulator startup? https://davidwalsh.name/javascript-port-scanner

[2021-09-08 15:28] #6 closed

[2021-09-14 04:14] Gnarik commented on #17
Hi, any progress on this ?

[2021-09-28 14:59] samatechtw commented on #47
I think it's possible there are multiple contributors. I don't know if ports are an issue, I've tried incrementing and randomly assigning ports, and the rate of failure does not change.

For us, the failure is always:
[code]

I've tried a few things that have reduced the rate of failure, but it's not perfect yet (fingers crossed, CI has passed 5 times in a row at the time of writing).

For context

[2021-09-29 09:10] MaxStalker opened #53 "Add automatic import resolver for contract deployment"
### Issue To Be Solved
- `deployContract` is not accepting `addressMap` to update deployed contract
- `deployContract` method is not resolving imports automatically

### Solution
- allow to pass `addressMap` into `deployContract` method. Skip code processing if it's empty. Otherwise resolve
- make `deployContract` to resolve known contracts, the same way as code for `sendTransaction` and `executeS

[2021-09-29 20:24] triptixnft opened #54 "Dictionnary {UInt32: UInt32} arg Issue"
### Instructions

sendTransaction arg will not support a dictionary with key as UInt32

expected arg in transaction parameter :  {UInt32: UInt32}
provided arg in js sendTransaction  : {0 : 1, 1 : 1}

As js  object property name is stored as string => "0" : 1, "1" : 1 is passed to the tx and do not match the expected cadence arg

[2021-09-29 22:35] mambrozic opened #55 "Passing array of dictionaries [{String:String}] as arg to script in flow-js-testing"
### Instructions

Please fill out the template below to the best of your ability and include a label indicating which tool/service you were working with when you encountered the problem.

### Problem

As indicated in https://github.com/onflow/flow-js-testing/blob/master/docs/examples.md, dictionaries and arrays of dictionaries can be passed as arguments to scripts. However, trying to use the examp

[2021-09-30 15:20] brian-klktn commented on #47
I also run into the same problem and like to share my findings
`flow-js-testing:0.1.13
mocha: 8.4.0
node: 14
emulator:v0.28.3
also running in github action
`

sample log of the failure. you can see line 2~4 are a successful emulator exit after test completion, but line `2021-09-30T03:02:10.1635489Z emulator exited with code null` shows the emulator failure right after `2021-09-30T03:02:10.1573960Z

[2021-10-08 18:04] MaxStalker commented on #54
@triptixnft  this should now be possible to do now. Please refer example #101 in examples folder :)

[2021-10-08 18:04] #54 closed

[2021-10-08 18:04] #53 closed

[2021-10-17 02:58] figs999 commented on #38
If anyone else was still having this issue, I solved it by installing jest-environment-uint8array with node and changing my jest.config,js to include:

**_"testEnvironment": "jest-environment-uint8array"_**

[2021-10-20 17:41] #38 closed

[2021-10-23 15:03] 0xmovses opened #56 "npx flow-js-testing init throws error"
### Problem

When I run ``npx flow-js-testing init`` I get the following error : ``SyntaxError: The requested module 'file:///Users/<username>/.npm/_npx/d6f43c7fabf6a972/node_modules/flow-cadut/dist/index.js' does not provide an export named 'writeFile'``

### Context

Manual installation works fine, but this won't give me the test suite with all necessary imports and setup for describe blocks. Fo

[2021-10-28 14:01] #56 closed, assigned to MaxStalker

[2021-11-21 03:45] kerrywei opened #59 "Documentation update"
### Issue To Be Solved
There are multiple places in current docs are broken or stale. i.e.
- links to argument/response types in https://github.com/onflow/flow-js-testing/blob/master/docs/api.md are not pointing to the correct FCL API reference sections
- links in https://docs.onflow.org/flow-js-testing/init/ are broken
- fix navigation issues in https://docs.onflow.org/flow-js-testing (i.e. the '

[2021-11-26 15:03] MaxStalker opened #61 "Randomly failing tests"
### Problem
Running multiple test files would result in random tests failing to complete properly.
When tests are defined in a single file - they run as expected.

### Discovery
Most of the time it doesn't happen, when tests would be run locally. Though some community members with fast computers reported the same issues in local environment.

Apparently, the culprit of the problem is `config` meth

[2021-12-05 03:34] beshup commented on #41
Yes, we can close it. Sorry for the late response!

[2021-12-05 03:34] #41 closed

[2021-12-05 03:34] beshup commented on #40
Yes, this one is fixed.

[2021-12-05 03:34] #40 closed

[2021-12-08 18:03] MaxStalker opened #64 "Provide better error handling, when emulator falls"
One easy way to mess up your emulator is to provide non-existing contract for deployment (for example, adding `.cdc` extension at the end)

In your `flow.json`:
`	"deployments": {
		"emulator": {
			"emulator-account": [
				"MyFancyContract.cdc`
			]
		}
	}
`

Emulator will exit with error `deployment contains nonexisting contract MyFancyContract.cdc`.
But tests will fail with `Error: Response cl

[2021-12-08 23:31] janhesters commented on #41
@beshup How did you fix this? I'm getting the same error.

[2021-12-09 12:52] janhesters opened #65 "Tests break after upgrading from 0.1.15 to 0.2.0"
### Problem

After upgrading to `0.2.0` my tests break. (BTW some tests in your pipeline should've failed and blocked the merge, too, e.g. `"executeScript - shall work properly for empty array as argument"` in `/dev-test/interaction.test.js`.)

### Steps to Reproduce

`flow.json`:

[code]

Contract (in `cadence/contracts/HelloWorld.cdc`):

[code]

Test:

[code]

Before the upgrade the test passes.

[2021-12-09 13:54] MaxStalker commented on #65
Thank you for your kind words, spotting and flagging this issue! :bow:
Fix is on the way - https://github.com/onflow/flow-js-testing/pull/66

I will add additional tests and refactor dev-tests to prevent merging as well in near future.

[2021-12-09 13:58] janhesters commented on #65
@MaxStalker Wow, you're fast. Thank you!

Random (off-topic) question (I hope you don't mind 😇 ), is there a possibility to test if values get correctly logged out?

For example, if I have a transaction `cadence/transactions/log-signers.cdc` like this:

[code]

and run it in a test like this:

[code]

Is there a way to capture the logs (so you can do assertions on it within the test)?

[2021-12-09 14:06] MaxStalker commented on #65
=^__^=

Great idea!
I want to do more with logs as well, but unfortunately it's not possible at this very moment.
Can you fill `feature request` here - I might get back to it soon :)

[2021-12-09 14:10] janhesters commented on #65
Will do! Thank you very much 🙏

[2021-12-09 16:57] janhesters opened #67 "Logs cut leading zeroes of addresses"
### Problem

Logs cut leading zeroes of addresses.

(Related to https://github.com/onflow/flow-js-testing/issues/65#issuecomment-989876669).

### Steps to Reproduce

`flow.json`:

[code]

Transaction (in `cadence/transactions/log-signers.cdc`):

[code]

Test:

[code]

This test fails and claims the second argument is `false`. The address of `Alice` is `0x01cf0e2f2f715450`. But the output of `conso

[2021-12-09 17:11] janhesters opened #68 "Add the ability to access logs in `sendTransaction`"
### Issue To Be Solved

When you log inside a transaction there is no easy way to access those logs inside of your code / tests.

### (Optional): Suggest A Solution

#### Solution 1: add logs to the return value of `sendTransaction`

Currently, `sendTransaction` returns an object with 4 keys.

[code]

We could add a fifth value `logs`

[code]

---

#### Solution 2: use `spyOn` on `console.log`

Yo

[2021-12-09 20:40] #65 closed

[2021-12-09 20:56] MaxStalker commented on #65
@janhesters Fix deployed with version `0.2.1` now - please let me know if you experience any difficulties with it 🙇

[2021-12-10 00:01] kerrywei commented on #59
PR has been ready for review: https://github.com/onflow/flow-js-testing/pull/62/files
note: the PR won't be merged in until the [relative path issue](https://github.com/onflow/flow/issues/704) in onflow/flow repo is addressed

[2021-12-10 13:35] MaxStalker opened #69 "Allow to pass emulator flags"
Emulator is expanding day-by-day and instead of rewriting emulator code every time, we can allow to pass flags and their values into `emulator.start` method.

For example, this code update - https://github.com/Peixer/flow-js-testing/commit/545a8889a8a78c04f27601e75aaaf50feee04e70 - could have been possible with simple `emulator.start(port, {"storage-limit": false})`

[2021-12-10 14:48] MaxStalker commented on #61
One of the stable solutions was using serial-runner. Specifically "@codejedi365/jest-serial-runner" (original one have an issue, which is not resolved at the time of writing - https://github.com/gabrieli/jest-serial-runner/issues/16)

We will update default config to include this changes. Existing projects can use updated jest config:
[code]
You will need to install `jest-serial-runner` via:
[code

[2021-12-10 16:26] bluesign commented on #47
Hey, just saw the issue from @MaxStalker's mention.

In a quick look this is a problem with Github Workers being slow. when you launch emulator till it is listening there is some time passing. (which is much bigger than local )

If you change test like this (in` beforeEach` and `afterEach`) ( I did 2000ms wait but I guess much less can be ok )

https://github.com/bluesign/kitty-items/blob/ddffc241

[2021-12-10 16:32] MaxStalker commented on #47
@bluesign oh! that's quite the discovery! :exploding_head:
I was actually suspecting conflicting ports due to the fact that `config()` would return a singleton :thinking:
Which is why I solved this with `jest-serial-runner`:
https://github.com/onflow/flow-js-testing/issues/61

But I will check your solution as well, thank you @bluesign !

[2021-12-10 16:35] samatechtw commented on #47
We started out with the same solution, but it still intermittently fails (the percentage of failures does go down as wait increases, though).

The long wait is somewhat inconvenient when running many tests, as well. Currently we solve it by restarting the emulator per test file, which comes with its own drawbacks.

[2021-12-10 16:36] MaxStalker commented on #47
@samatechtw can you try that solution with `jest-serial-runner` outlines here:
https://github.com/onflow/flow-js-testing/issues/61

We made it work with KittyItems, but would be cool to get more real usage examples.
Thanks in advance! :bow:

[2021-12-10 16:37] bluesign commented on #47
Yeah we can have something like: startEmulator waits for port availability, so it can wait only required time. ( it can try to run a script, when failed waits a second and try again etc)

[2021-12-10 16:38] MaxStalker commented on #47
I've tried to run emulator on a new port every time - didn't help that much :)
Though maybe with this await solution it would work better, but it feels really hacky...

[2021-12-10 16:59] kerrywei commented on #61
A [PR](https://github.com/onflow/kitty-items/pull/150) is made in KittyItem to pilot launch this serial test runner, however, PR is blocked.

[2021-12-10 17:03] samatechtw commented on #47
I'll try the `jest-serial-runner` as soon as I get the chance.

It's not just an issue with port availability, we tried:
- Waiting for port
- Waiting for the emulator process to fully close in `afterEach`

Both helped somewhat, but we still saw intermittent failures.

[2021-12-10 17:10] janhesters commented on #67
@MaxStalker If I understand the issue you linked correctly, this was [fixed on November 4th](https://github.com/onflow/cadence/pull/1214)?

So I was wondering, why is this still in the emulator? Am I misreading something?

[2021-12-10 17:20] MaxStalker commented on #67
@janhesters Oh... I thought that maybe CLI is still using old Cadence version, but it's on `0.20.1`

@SupunS or @turbolent can you check why the issue still there?

[2021-12-10 17:28] brian-klktn commented on #47
My finding suggests that this is an out of resource issue. the Emulator immediately dies after spinning up with NULL as exit code. Indicates the suspect to be the kernel.

[2021-12-10 17:30] bluesign commented on #47
I think it can be also port in use issue in that case

[2021-12-10 19:00] SupunS commented on #67
I assume it is because even though this was fixed on master, the `v0.20` branch was already forked from the master by then. So its not there in `0.20.*`. But would be available from the next cadence release (next non-patch release).

[2021-12-11 12:54] janhesters commented on #65
@MaxStalker works perfectly!

[2021-12-12 00:21] janhesters opened #70 "Add TypeScript support"
### Issue To Be Solved

Add support for TypeScript, so that autocomplete and other developer tooling works.

### (Optional): Suggest A Solution

#### Solution 1: Rewrite in TypeScript

Pretty self explanatory. Would probably take weeks because TypeScript usually messes you up at edge cases. This would automatically generate type definitions when building to JavaScript.

#### Solution 2:

Create `.

[2021-12-16 20:23] #59 closed

[2021-12-17 15:43] MaxStalker commented on #61
### Follow up for `jest-serial-runner` solution
It doesn't work perfectly every time. It is increased overall percentage of successful tests, but we still see randomly failing tests in CI.

### Next Steps
- [ ] ensure this is not a port issue and run emulator on new port every time
- [ ] enable emulator logging and see maybe it's reporting issues, before crashing
- [ ] wrap `emulator.start` calls

[2022-01-06 18:59] kerrywei opened #72 "Adopt the new server status interface from Flow emulator"
### Problem
It is a commonly encountered issue that there are intermittent failures for tests backed by flow-js-testing library, per described in https://github.com/onflow/flow-js-testing/issues/47.
It turns out the root cause is that there is not a reliable way for processes to check whether the emulator is fully started, hence tests could be run before HTTP/gRPC servers are ready, causing failur

[2022-01-06 20:36] kerrywei commented on #47
Here’s my investigation summary with KittyItem repo:
it is likely not caused by emulator being killed. reason being that we should be able to see logs with SIGKILL (or other signals), which is not the case (note: this does not rule out the possibility that emulator could be killed in other CI environment like @brian-klktn [point out](https://github.com/onflow/flow-js-testing/issues/47#issuecomment

[2022-01-07 04:22] psiemens commented on #47
@kerrywei [I left a comment on that issue](https://github.com/onflow/flow-emulator/issues/111#issuecomment-1007130169) with more details, but it should already be possible to ping the emulator and check if it's running.

Maybe that can be used to solve this?

[2022-01-07 16:20] bluesign commented on #47
I think best solution is hidden in the problem.

Problem is this is not reliable. ( as starting can take unknown amount of time )

Maybe better to change it to: Started HTTP server on port xxxx after we started HTTP server.

Other brute force solutions doesn't seem to elegant to me tbh.

[2022-01-10 21:59] kerrywei opened #74 "docs/contracts.md missing AddressMap"
### Problem
AddressMap object is not documented in docs/contracts.md

### Steps to Reproduce
click on AddressMap link in https://docs.onflow.org/flow-js-testing/contracts/#deploycontractbynameprops would result in error 404

### Definition of Done
- document the object
- update onflow/flow to reflect the latest doc and release the change

[2022-01-11 19:10] kerrywei commented on #47
Hello @bluesign , @samatechtw , and @brian-klktn , we just published a newer version of flow-js-testing -- 0.2.2-alpha.1, which should address the intermittent failre caused by testing lib prematurely flags the emulator is ready. It would be great to have you give it a shot and provide any feedback

[2022-01-11 23:19] brian-klktn commented on #47
hi @kerrywei , thanks for the patch, we have seen improvements in our pipeline after the upgrade. thanks!

[2022-01-12 19:55] kerrywei commented on #61
I merged in https://github.com/onflow/flow-js-testing/pull/73 which should permanently address failures caused by js testing library prematurely flags the readiness of the emulator.
the latest version is 0.2.2-alpha.3

[2022-01-12 19:55] #61 closed

[2022-01-12 19:56] kerrywei commented on #47
Good to know that @brian-klktn . is there any number you can provide in terms of before/after behavior?

we will close this issue soon given flow-js-testing library 0.2.2-alpha.3 is out -- we tested the pipeline 42 times, all passed without hicuups.

[2022-01-13 17:13] kerrywei commented on #47
Hey folks, we've published 0.2.2 version of flow-js-testing lib which should address test failures caused by testing lib prematurely flags the emulator is ready. I'm closing this issue.

[2022-01-13 17:13] #47 closed

[2022-01-14 15:34] kerrywei commented on #32
note: we might have a solution for this. need to figure out the status of the implementation, and if finished, document it

[2022-01-25 18:49] jacksonConrad opened #79 "Unable to pass CapabilityPath or StoragePath as arg to Cadence Transaction"
### Problem

It seems that passing in StoragePath, PrivatePath, or PublicPath as an argument to a Cadence script or transaction does not work.  I get the following error:

[code]
Additionally, when running the emulator in my testing code w/ the verbose flag `true`, there is no emulator output.  So I believe the bug is within `flow-js-testing` itself.

### Steps to Reproduce

I have the following t

[2022-01-25 18:53] MaxStalker commented on #79
@jacksonConrad can you provide portion of Cadence code as well - specifically parameters it expects :)

[2022-01-25 19:20] jacksonConrad commented on #79
Sure thing!! I included the transaction signature above, but here is the whole cadence transaction for posterity :)

`
import VotingCommunity from "../contracts/VotingCommunity.cdc"

transaction(adminRequesterAddress: Address, storPath: StoragePath, privPath: PrivatePath) {

    let resourceStoragePath: StoragePath
    let capabilityPrivatePath: CapabilityPath
    let adminCapability: Capability<&

[2022-01-26 02:30] script-money opened #80 "argument parser error for {Address:Bool} type"
### Instructions

I found a weird problem, with my js testing code:
[code]

*result[1]* is  `Error: Type Error: Expected Boolean for type Bool`

If  use `const voteDict = { Alice: true, Bob: true, Chaier: false }`, *result[1]* is
[code]

index 3 cadence parameter is {Address:Bool}

### Problem

argument parser error for {Address:Bool} type, mainly problem is the Bool type

### Context

js file
[co

[2022-01-26 15:49] script-money commented on #80
Use `const voteDict = { [Alice]: true, [Bob]: true, [Chaier]: false }` works

[2022-01-26 15:49] #80 closed

[2022-02-02 01:29] adhurjaty opened #81 "StoragePath, PrivatePath, and PublicPath functions"
### Problem

I'm unable to use `StoragePath`, `PrivatePath` or `PublicPath` functions as detailed in the [docs](https://docs.onflow.org/cadence/language/accounts/#account-storage)

### Steps to Reproduce

Given this Cadence code:
[code]

and this test:

[code]

I get the following error message

[code]

[2022-02-02 04:17] MaxStalker commented on #81
What version of CLI do you have installed? 🤔

[2022-02-02 04:20] adhurjaty commented on #81
Ah, sorry forgot to mention that. v0.30.2

[2022-02-07 18:13] Screendead opened #82 "beforeEach is undefined"
### Problem

(This might be a problem with `flow-cli` rather than `flow-js-testing`)
After running `brew update && brew upgrade flow-cli` the following error appears:

[code]

### Steps to Reproduce

Use the latest version of `flow-cli`, and the problem occurs from `flow-js-testing` 0.1.15 to 0.2.2

### Context

Currently working on testing a contract in preparation for deployment to mainnet. The

[2022-02-07 21:07] mrpowergage commented on #82
same issue for me (working on the project with @Screendead )

[2022-02-08 19:35] MaxStalker opened #83 "Error: unknown flag: --http-port"
## Description
CLI release `0.31.0` replaced `--http-port` with `--admin-port` flag, which broke emulator process wrapper.

## Solution
Update used flag in emulator wrapper and release new version.

[2022-02-09 09:32] KSlashh commented on #82
seems flow-js-testing/emulator try to start emulator with --http-port flag , which is removed by latest flow cli

[2022-02-09 09:34] MaxStalker commented on #82
@Screendead @mrpowergage @KSlashh I'm on this problem right now, there should be a fix soon :)

[2022-02-09 22:34] MaxStalker commented on #82
I've released `0.2.3-alpha.1`.
@KSlashh @mrpowergage @Screendead can you try to update the package and check if it works for you?

[2022-02-09 23:41] Screendead commented on #82
Thanks for your quick fix @MaxStalker - might be a silly question but my `flow-cli` is currently installed via Homebrew; I tried `brew install flow-cli@0.2.3-alpha.1` but it didn't find anything. How should I be upgrading?

[2022-02-10 02:01] KSlashh commented on #82
Try to update flow-js-testing .

[2022-02-10 03:16] Screendead commented on #82
Ah, so it was indeed a silly question! Thanks :)

[2022-02-10 09:16] KSlashh opened #85 "ShallRevert does not work as expected"
### Problem

ShallRevert does not work properly , it won't throw any error whether or not ix execute successfully.

### Description

[https://github.com/onflow/flow-js-testing/blob/master/src/jest-asserts.js#L76](https://github.com/onflow/flow-js-testing/blob/master/src/jest-asserts.js#L76)
If ix succeed , it will return with result, and ``await expect(result).toBe(null)`` shall throw, then the er

[2022-02-17 22:12] timongll opened #86 "allow deployContractByName to accept subfolder values"
Currently blocked to have subfolders in cadence/contracts

For example,
`return deployContractByName({ to: KittyAdmin, name: 'fungibletoken/FlowToken' })`
does NOT work, resulting in error
`error: invalid contract: the name argument must match the name of the declarationname argument: \"fungibletoken/FlowToken\", declaration name: \"FlowToken\"`

[2022-02-18 08:06] mrakus7 opened #87 "Account creation name has been changed from "AccountAdded" to "AccountCreated""
$ flow version
Version: v0.31.1
Commit: a622a4f89a4a86c4edb0161d8df3316345f2fb93

The name of event for new account creation has been changed from "AccountAdded" to "AccountCreated"

Perhaps, more better to get this constant from some Flow constant vocabulary?

Issue in line:
https://github.com/onflow/flow-js-testing/blob/f19756f0ee9e00c096233a9cd89ee10cd3a1f7e8/src/account.js#L63

[2022-02-18 14:45] cleversos opened #88 "Getting uncertain error during trying to deploy FlowEpoch Contract to emulator."
I am trying to deploy flow staking contracts
And others works good.
But for FlowEpoch contract, I have 2nd error with the 10 parameters.
If i not pass any parameter, I got 3rd error.
I cant figure out how to solve this.
Please help me...
![image](https://user-images.githubusercontent.com/94990630/154704490-3ed5e4ef-5f4d-4f28-b397-b39b23cc71ee.png)
![image](https://user-images.githubusercontent.com

[2022-02-18 15:36] cleversos commented on #88
@MaxStalker
Do you need me to upload my code here?
I would be grateful if you give me a brief review asap.
Thanks

[2022-02-18 18:38] #81 closed

[2022-02-20 08:28] jjz opened #89 "thrown: undefined"
### Instructions
This error occurred when I ran the test:
https://github.com/onflow/kitty-items/tree/master/cadence/tests

### Problem
[code]

[2022-02-20 20:48] MaxStalker commented on #89
@jjz can you tell me Flow CLI and flow-js-testing versions you are using?

[2022-02-21 02:57] jjz commented on #89
[code]
"flow-js-testing": "^0.2.2",

[2022-02-21 14:57] maggo commented on #89
Seeing the same error with `flow-cli@0.31.1` and `flow-js-testing@0.2.2` when deploying a contract.

Upgrading to `flow-js-testing@0.2.3-alpha.2` returns a result with this error:
[code]

This seems to only happen when deploying a contract with arguments, when I deploy another contract without it all works fine.

[2022-02-21 15:47] MaxStalker commented on #89
Can you put here your `init` method from contract?

[2022-02-21 16:11] maggo commented on #89
@MaxStalker
Here you go, it's the default example NFT init function with some added config parameters (description, supply, IPFS CID)

[code]

[2022-02-22 00:58] jjz commented on #89
I'm using the example [kitty-items] in there and I'm not changing the code

[2022-02-22 13:55] MaxStalker commented on #89
@jjz can you try `0.2.3-alpha.3`

[2022-02-23 01:57] jjz commented on #89
How? Has it been released?

[2022-02-23 07:17] MaxStalker commented on #89
It's on npm, yeah. Simply bump version in `package.json` and run `npm/yarn install`

[2022-02-23 16:47] timongll commented on #89
@MaxStalker bumping to 0.2.3-alpha.3 from 0.1.13 causes alot of problems. Emulator does not stop Aftereach test, and expect changes from a value to an array of [result, error]

[2022-02-24 09:42] jjz commented on #89
Part of it worked, but there was a new error。
[code]

[2022-02-24 10:42] bevis-lin commented on #89
Hi Everyone
Is there any update for this issue. I also get stuck on the same issue.

[2022-02-24 12:31] MaxStalker commented on #89
@jjz `shallResolve` expect that async callback will return tupple `[result, err]`
you can rewrite your code like this:
[code]

[2022-02-24 12:32] MaxStalker commented on #89
@bevis-lin Bump your js-testing-version to `0.2.3-alpha.3`

[2022-02-24 12:33] MaxStalker commented on #89
@timongll yes, this is a major release, which requires code to be refactored :shrug:

[2022-02-24 15:17] MaxStalker commented on #89
For everyone here still having troubles, please try `0.2.3-alpha.4` version of `flow-js-testing` together with `0.31.1` of CLI

[2022-02-24 17:37] RohaanAdvani68 opened #91 "Should support TestNet testing"
### Issue To Be Solved

The testing library should enable users to not only test the features in the local emulator environment, but also in the TestNet environment. This would enable developers to be more confident in their smart contracts working as expected in a "real" network. Developers should not have to rely on manual testing once deployed to TestNet.

It should be as simple as a switch in

[2022-02-27 01:02] adhurjaty commented on #89
This is still broken for me using `0.2.3-alpha.4` with version `0.31.1` of the CLI. I get a long string of
[code]
when running a test. Test hangs until timeout

[2022-02-27 16:39] seddik11 commented on #89
I had some weird cadence errors that don't appear when using the flow emulator but now with 0.2.3-alpha.4 alongside 0.31.1 version all my issues have flown away.

[2022-02-28 14:09] MaxStalker opened #92 "Investigate CLI updates which lead to emulator incompatibility"
## Details
CLI changes in `0.31.0` brought new flag `--admin-port` which broke the whole workflow for users of `flow-js-testing`.
Later `0.31.1` should have been a simple update for Cadence dependency, but made things worse.

## Progress
- [ ] Check `AccountAdded`/`AccountCreated` hypothesis from #87
    - Revert to `0.30.0` and check that it works with previous codebase

[2022-02-28 14:12] MaxStalker opened #93 "Create dependa-bot workflow dispatcher"
## Instructions
- [ ] Create dependabot configuration file as described in [documentation](https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/enabling-and-disabling-dependabot-version-updates#enabling-dependabot-version-updates)
- [ ] Create workflow, which would update CLI version update and run tests ensuring framework is stable with ne

[2022-03-01 03:33] adhurjaty commented on #89
Hmm, still nothing. Getting the same issue. I'm running on Ubuntu 20.04, in case that's relevant

[2022-03-11 14:59] swordc opened #94 "run `npm test` got an "thrown undefined" error at `beforeEach`"
<img width="509" alt="image" src="https://user-images.githubusercontent.com/6340093/157885144-a6fe92a6-ecc7-4a01-9aa4-b347b59f2b75.png">
It passed if running `npm test xxxx.test.js` separately.
However, when running `npm test` together the error occurred.

Version: v0.31.1 - 0.2.3-alpha.3/4

[2022-03-18 18:37] jacksonConrad opened #95 "Implement "signUserMessage" to sign arbitrary messages with accounts created with "getAccountAddress"
## Instructions

Please fill out the template below to the best of your ability.

### Issue To Be Solved

(Replace this text:
Please present a concise description of the problem to be addressed by this feature request.
Please be clear what parts of the problem are considered to be in-scope and out-of-scope.)

### (Optional): Suggest A Solution

(Replace this text: A concise description of your pre

[2022-03-18 19:52] jacksonConrad opened #96 "Implement "signUserMessage" to sign arbitrary messages with accounts created with "getAccountAddress""
## Instructions

Please fill out the template below to the best of your ability.

### Issue To Be Solved

Implement a function to sign arbitrary messages with test accounts created by `getAccountAddress("account1")`.  Essentially an equivalent function to FCL's `currentUser().signUserMessage()`, which returns a list of signatures and a list of keyIds.

### Context

I'm working on a Multi-sig walle

[2022-03-19 13:49] onkel-skrue commented on #94
Getting:
[code]

 with
[code]

Should be `--rest-port` instead of `--http-port`.

[code]

[2022-03-19 13:56] onkel-skrue commented on #89
Please see: https://github.com/onflow/flow-js-testing/issues/94#issuecomment-1073013812

[2022-03-19 14:29] onkel-skrue commented on #94
I just noticed that updating to `"@onflow/fcl": "0.0.78"` fixed the problem for me.

[2022-03-20 02:19] s1119858711 commented on #89
yep, i had this error too.
when i try to test, the error said "undefined is not support"

but we found maybe the panic fields is too long🐱‍🐉? the js-testing it will throw error✔
i change it and make sense ✔

[2022-03-20 09:56] swordc commented on #94
Still have the same issue with "@onflow/fcl": "0.0.78"

[2022-03-20 10:49] onkel-skrue commented on #94
Try to run with logs enabled: `await emulator.start(port, true)` and see what you get

[2022-03-20 11:37] MaxStalker commented on #94
What is your CLI version?

[2022-03-22 07:59] swordc commented on #94
Version: v0.31.1

Have opened the log and got undefined errors.
<img width="615" alt="image" src="https://user-images.githubusercontent.com/6340093/159433865-d57cbcbf-9da0-4cca-a570-5bfd9a9523db.png">

[2022-03-23 16:16] Guisong-Fu opened #97 "panic message cannot have "transaction" word in it"
### Problem

panic message cannot have "transaction" word in it, otherwise it will throw "undefined is not supported" error.

### Steps to Reproduce

Basically, add "transaction" word to the panic message, and use js-testing to run the test against it, the error will be reproduced.

Take kitty-item for example, locate the script `get_collection_length.cdc` and update the panic message to something

[2022-04-20 16:48] kerrywei commented on #94
@MaxStalker  if we find out the root cause, in addition to address it, I think we should summarize it and post it here for future references; we should also include the answer to "what can we do to eliminate this in future" in the summary, if applicable

[2022-04-21 18:37] MaxStalker commented on #95
@jacksonConrad is this a duplicate of #96 ?

[2022-04-21 18:37] MaxStalker commented on #94
@swordc @onkel-skrue can you guys try to update version to `0.2.3-alpha.5` and run your tests?

[2022-04-21 18:40] MaxStalker commented on #87
@mrakus7 as a matter of fact - that is a correct event name. Since we are not using global system event, but custom one emitted by account manager, which is used by the library.

[2022-04-21 18:40] #87 closed

[2022-04-21 18:41] MaxStalker commented on #89
@s1119858711 @onkel-skrue @seddik11 @adhurjaty @bevis-lin @jjz @timongll @maggo can you try to fetch `0.2.3-alpha.5` version and try to run your tests again?..

[2022-04-21 20:48] jacksonConrad commented on #95
Weird, yes it is!

[2022-04-21 20:49] jacksonConrad commented on #95
Closing since this is a duplicate and #96 has a proper description

[2022-04-21 20:49] #95 closed

[2022-04-21 22:34] seddik11 commented on #89
flow cli version: v0.33.0
flow-js-testing version: 0.2.3-alpha.5

No problems or any errors with my tests :heavy_check_mark:

[2022-04-24 22:08] adhurjaty commented on #89
@MaxStalker changing to `alpha.5` fixed my issue. Thanks!

[2022-04-26 12:35] #94 closed

[2022-04-26 12:51] #72 closed

[2022-04-26 12:52] MaxStalker commented on #72
Fixed in #73

[2022-05-06 14:36] satyamakgec opened #99 "Feature: Improve `shallRevert` helper to assert the error string."
## Instructions

### Issue To Be Solved
Currently, there is no way to assert the error string of the transaction.

Ex -

[code]
The above transaction would fail and give an error something like the below -

[code]

But it will be hard to `assert` it to make sure that the transaction fails at the same spot or not.

### Solution

The above can be solved to add some regex expressions to scrape the er

[2022-05-06 14:46] satyamakgec opened #100 "Feature: Allow deploying the transaction with a relative path."
### Issue To Be Solved

There are many cases where transactions are scripts are in different folders, Specifically, during testing, a developer may need to write some additional transactions and scripts to support the main transaction because that developer may not put those mock transactions within the designated `transaction`  directory to avoid confusion. To resolve that most of the developers

[2022-05-06 14:51] satyamakgec opened #101 "Feature: Allow blocktimestamp jump in emulator for better testing."
### Issue To Be Solved

Currently jumping the block number is possible but jumping the block timestamp is not possible that would be needed to test transactions which fail if they get executed after a certain interval of time, More like because of the expiry of operation.

### Suggest A Solution

Introduce a utility function like `setBlockOffset` called `setTimestampOffset` to resolve the above.

[2022-05-12 12:37] MaxStalker opened #102 "Add predeployed via CLI contracts to FlowManager"
### Issue To Be Solved
It's possible to instruct emulator to predeploy some specific contract, when it starts.
One of the basic case is to deploy NonFungibleToken, NFTStorefront and FUSD contracts by passing "--contracts" flag.
But CLI can also deploy other contracts specified in `flow.json` file.

The problem is that none of those contracts are registered in `FlowManager` contract and thus can't

[2022-05-13 00:46] timongll commented on #86
@MaxStalker here was the issue I opened

[2022-05-13 07:00] MaxStalker commented on #86
@timongll please, try version `0.2.3-alpha.6` it should fix the issue :)

[2022-05-13 09:09] timongll commented on #86
thanks works now!

[2022-05-13 09:09] #86 closed, assigned to MaxStalker

[2022-05-31 12:52] bartolomej opened #104 "Address replacement functionality is prone to mistakes"
### Instructions

I have followed the instructions for setting up the development environment. I'm using flow-js-testing along with jest for testing smart contract functionality.

### Problem

I wanted to read some script/transaction/contract code and replace some addresses specified in `addressMap`.

Cadence source code looked something like this:

[code]

I tried to read the source code with flo

[2022-05-31 14:49] MaxStalker commented on #104
The problem was not in how you write import statement, but in how you prepare your `addressMap` :)
`addressMap` need to be an object, where each key is the `name of the contract` and each value is the `address`, where corresponding contract is deployed.

Your import statements could be in those forms:
[code]
or
[code]
Your `addressMap` in both cases should be:
[code]

[2022-05-31 14:51] MaxStalker commented on #104
@bartolomej can you also tell me why you would want to import templates? :)
We export those so you would have flexibility of building your own solutions, but in most of the cases you should be good with `deployContractByName`, `sendTransaction` and `executeScript` methods. Those accept `name` argument and map it to file stored under corresponding folders for ease of use :)

[2022-06-01 20:43] MaxStalker commented on #104
Always happy to help!

[2022-06-01 20:43] #104 closed

[2022-06-12 22:38] dryruner commented on #94
@MaxStalker Still have the same "thrown undefined" problem if running `$ npm run test`

However, if I run test 1-by-1 e.g. `$ npm test tests/test/sample.test.js`, all of them pass.

CLI:
Version: v0.36.0
Commit: dffa320324766cb87a55cbf9db2223038cb7b0df

flow-js-testing:
^0.2.3-alpha.5

[2022-06-12 22:43] onkel-skrue commented on #94
Do you run `jest --runInBand`?

[2022-06-12 22:43] dryruner commented on #89
Probably a duplicated report, but since with Secure Cadence we're using CLI v0.36.0 - with this flow-cli version `alpha.5` still has the same error.

Are we expected to get a stable version of flow-js-testing that's working fine with latest cli?

[2022-06-12 22:56] dryruner commented on #94
@onkel-skrue Ah just tried with the flag, all tests run successfully. Thanks!

One more question: this flag runs test files in a sequantial way, I remember previously that jest can run test files concurrently (without appending any flag) - is there still a way to do so?

[2022-06-12 22:59] onkel-skrue commented on #94
Glad it solved the problem :) I don't really know the answer to your question. I am just running with this flag for now.

[2022-06-14 20:36] jribbink opened #107 "Upgrade to FCL 1.0.0"

[2022-06-14 21:54] jribbink opened #108 "Add error if emulator is already running"
## Instructions

Thrown errors when the emulator is already running are not very explicit by nature.  For instance if I attempt to run the kitty-items tests with the emulator already running, the error I see is `thrown: undefined`.  This is can be very confusing as evinced by #89 .

### (Optional): Suggest A Solution

Add some sort of exception handling related to emulator already running, throw a

[2022-06-19 12:11] bartolomej opened #112 "Return descriptive error messages"
### Problem

I've encountered multiple scenarios where a non-descriptive error message gets thrown. One such case was when I renamed my  contract (from `TeaProfile` to `FlowTea`) and forgot to also change the deployments info.

Actual deployment info:
[code]

Should be:
[code]

When I ran my tests I got the bellow error instead of something more descriptive:
[code]

### Steps to Reproduce

1. Crea

[2022-06-21 22:47] jribbink opened #113 "Emulator ports should not be static"
### Instructions

Emulator ports should be autofilled based on available ports on system.  The end user should not have any context of what ports the emulator is running on as all of this information is unnecessary should be abstracted from their scope.

### Problem

The emulator frequently runs into conflicts with these static ports such that it attempts to open the same port as an already runnin

[2022-06-21 22:50] jribbink opened #114 "The emulator should not be a singleton"
### Instructions

Make the user instantiate a new instance of the emulator per use and remove the singleton functionality.

[2022-06-21 22:52] jribbink opened #115 "Add changesets NPM package"
### Instructions

Add changesets NPM package for semver package version bumping and better changelogs

### Problem

Changelogs are not (have not) always been kept up to date and versioning/releases could be smoother with the changesets package.

[2022-06-22 17:52] jribbink opened #118 "Throw error if jest tests are run in parallel"
### Instructions

Add an error if tests are run in parallel within jest (multiple jest workers) and advise the user to run the tests serially as this would have unintended consequences.

[2022-06-22 18:00] jribbink commented on #114
Closing as this isn't as much of an issue as previously thought.  Since jest tests are isolated from one another and it is a reasonable assumption that the user will not attempt to run multiple emulators within the same test file this singleton pattern should suffice.

[2022-06-22 18:00] #114 closed

[2022-06-22 18:02] jribbink commented on #108
Closing as this is superseded by #112 and #113

[2022-06-22 18:02] #108 closed

[2022-06-23 18:24] #115 closed

[2022-06-23 19:17] jribbink opened #121 "Changelog is not currently in format used by changesets package"
Changelog should be in same format (use same markdown heading levels) that are used by the changesets package/bot

[2022-06-23 19:18] #121 closed

[2022-06-24 20:37] jribbink commented on #69
This was covered by #90

[2022-06-24 20:37] #69 closed

[2022-06-24 20:51] jribbink commented on #100
This issue was resolved in #51.  `init(basePath, props = {})` allows for the passing of either a string for a default base path for all cadence, or the passing of an object of the form:

[code]

[2022-06-24 20:51] #100 closed

[2022-06-24 20:56] jribbink commented on #107
Blocked by https://github.com/onflow/fcl-js/pull/1265 and awaiting these changes to be merged + released

[2022-06-30 23:13] #113 closed

[2022-07-05 18:49] #99 closed

[2022-07-06 14:22] PeterBenc commented on #89
Still issue with `flow-cli v0.37.2` and  `v0.2.3-alpha.7` :(

[2022-07-06 16:49] jribbink commented on #89
Hi @PeterBenc the package has been moved to @onflow/flow-js-testing - can you confirm you still have this issue with [@onflow/flow-js-testing@0.3.0-alpha.8](https://www.npmjs.com/package/@onflow/flow-js-testing/v/0.3.0-alpha.8)

[2022-07-07 16:46] jribbink opened #135 "Make flow-js-testing work in CI"

[2022-07-07 18:08] refi93 commented on #101
@jribbink I see you assigned yourself this issue, this PR should fix it: https://github.com/onflow/flow-js-testing/pull/126 - could you please review it?

[2022-07-07 21:18] #101 closed

[2022-07-07 22:45] jribbink commented on #118
Closing as this is no longer necessary with dynamic port selection

[2022-07-07 22:45] #118 closed

[2022-07-07 22:49] jribbink commented on #135
This was likely resolved by #117

[2022-07-08 16:28] alilloig opened #137 "PublicPath is not supported as a transaction parameter"
### Problem

PublicPath type is not supported by the js testing framework, at least for passing it as a transaction parameter

### Steps to Reproduce

You can clone https://github.com/onflow/flow-ft/tree/alilloig/switchboard and `make test`, the test using a transaction that is expecting a PublicPath will fail

<img width="776" alt="Captura de Pantalla 2022-07-06 a las 13 48 17" src="https://user-

[2022-07-08 18:05] alilloig commented on #137
Thank you so much @jribbink !!!

[2022-07-08 18:05] #137 closed

[2022-07-08 21:56] #135 closed

[2022-07-08 22:57] jribbink commented on #97
This should be resolved in @onflow/flow-js-testing@0.3.0-alpha.10

[2022-07-08 22:57] #97 closed

[2022-07-08 22:58] jribbink commented on #79
This should be fixed in @onflow/flow-js-testing@0.3.0-alpha.10

[2022-07-08 22:58] #79 closed

[2022-07-11 08:06] bluesign opened #140 "Use Cadence parser instead of regex"
I think it would be better to use cadence parser instead of regex. while parsing imports, parameters etc.

It just has something like less than 3M overhead when complied with gopherJS [0]

Also same applies to cadet I guess

[0] https://github.com/onflow/cadence/issues/1802

[2022-07-11 20:45] jribbink opened #141 "Update flow-playground to use latest version of flow-js-testing"
Currently the flow-playground generate outdated flow-js-testing code.  This should not only be updated, but also be migrated to use the @onflow/flow-js-testing package instead of flow-js-testing.

https://github.com/onflow/flow-playground/issues/160

[2022-07-13 18:10] jribbink opened #143 "Examples are broken"
### Instructions

Option 1: Use Jest for running examples (ideal solution)
Option 2: Use something like babel-node to load the examples and keep doing things as is (quick fix)

### Problem

The latest release of @onflow/flow-js-testing has broken the examples loader.  This is because the 'esm' loader package does not support modern javascript syntax (e.g. optional chaining).  This package has been

[2022-07-14 22:39] #143 closed, assigned to jribbink

[2022-07-15 17:12] justinbarry commented on #89
Closing, please re-open if this happens again.

[2022-07-15 17:12] #89 closed

[2022-07-18 20:31] #107 closed

[2022-07-20 16:16] jribbink opened #148 "CLI does not work"
### Instructions

Fix imports in CLI scripts to use "@onflow/flow-cadut" package instead of "flow-cadut".  This must have been missed in the migration to the new NPM registry

### Problem

When attempting to follow steps listed in docs https://docs.onflow.org/flow-js-testing/install/ the CLI does not work.  It throws a missing import error from "flow-cadut/generator"

### Steps to Reproduce

Follo

[2022-07-20 21:35] #148 closed

[2022-07-20 22:02] jribbink opened #151 "Remove 'esm' package dependency"
## Instructions

Remove the ESM loader.  It should not be used as the package is abandoned and does not support newer ECMAScript features and this is a very non-standard way of running ESM scripts.

### Issue To Be Solved

We should not be using the esm loader.

### (Optional): Suggest A Solution

Bundle the CLI as another entry point in addition to the existing bundle created for flow-js-testing.

[2022-07-20 22:26] jribbink opened #152 "Remove circular dependencies"
### Instructions

Remove circular dependencies that exist in flow-js-testing codebase.  Some of the exported methods will need to be broken out into separate files in order to facilitate this.

### Problem

When building via rollup the following circular dependencies appear
[code]

### Steps to Reproduce

Attempt to build flow-js-testing

### Acceptance Criteria

Rollup/microbundle does not show t

[2022-07-21 20:10] jribbink opened #153 "Remove sansPrefix/withPrefix utility functions"
## Instructions

Remove sansPrefix/withPrefix utility functions from flow-js-testing as they are exported already by @onflow/fcl and these should be used instead to track potential changes/FCL compatibility + reduce unnecessary code overhead.

[2022-07-25 16:36] tav opened #154 "Add support for custom signers for sendTransaction"
### Issue To Be Solved

It would be great if the `signers` for `sendTransaction` could specify the key ID, private key value, as well as support `secp256k1` keys with specific hash functions.

### Suggest A Solution

In addition to a `signer` value being a string address, also support it as an object that can specify the `privateKey`, `keyType`, `keyId`, and `hashAlgorithm`.

### Context

* We rot

[2022-07-27 23:45] jribbink opened #159 "Use shallPass/shallThrow helpers in examples"
## Instructions

Convert examples to use built-in Jest helpers.  Currently they are just checking if the result is truthy to see if interactions passed, but this should use the helpers as it is more succinct and provides a much better example.

[2022-07-30 07:26] LanfordCai opened #161 "setTimestampOffset not work for timestamp in contracts"
If I send a transaction with timestamp related logic, the timestamp does changed after `setTimestampOffset`:
[code]

However, if the timestamp related logic is locates in a contract, and I send a transaction to call the function of that contract, timestamp would not change:

[code]

[code]

[2022-08-03 22:52] #154 closed

[2022-08-04 16:52] #159 closed

[2022-08-05 10:34] bymi15 opened #163 "Support for testing transactions with optional array of Addresses as a parameter"
### Issue To Be Solved
Testing transactions with an optional array of Addresses as a parameter results in the following error:
[code]

### Context

Example use cases of this type of parameter could be to pass in an allowlist, which can be optional as a nil value would represent the absence of an allowlist and hence allow everyone/anyone.

Discord discussion thread:
https://discord.com/channels/613

[2022-08-05 17:47] jribbink commented on #163
This is a https://github.com/onflow/flow-cadut issue.  Linked issue is https://github.com/onflow/flow-cadut/issues/112

[2022-08-05 18:58] jribbink commented on #163
Alright PR is in https://github.com/onflow/flow-cadut/pull/113, awaiting approval, release.  Then needs dependency update on @onflow/flow-js-testing

[2022-08-05 19:17] bymi15 commented on #163
Thanks a lot for your work @jribbink

[2022-08-05 21:52] #163 closed

[2022-08-05 23:04] #153 closed

[2022-08-05 23:32] jribbink commented on #154
Hey @tav, this should now be available in the latest alpha.  Sorry about the delay.

[2022-08-05 23:51] jribbink commented on #163
Should be solved in latest alpha.  Cheers.

[2022-08-07 23:06] tav commented on #154
Thanks @jribbink — much appreciated!

[2022-08-11 19:50] jribbink opened #168 "Redundant functions existing in both @onflow/flow-js-testing and @onflow/flow-cadut"
## Instructions

Use functions exported by @onflow/flow-cadut when possible as declaring the same function twice is redundant and adds overhead for maintaining/bug fixes.

### Issue To Be Solved

A couple of the import parsing functions (`replaceImportAddresses` & `extractImports`) are redundant and already exist in flow-cadut.  Flow-cadut is already a dependency of this library and using these fu

[2022-08-12 16:32] #168 closed

[2022-08-16 04:21] jribbink commented on #34
Closing as this functionality is currently part of the `shallRevert` jest assertion https://github.com/onflow/flow-js-testing/blob/master/docs/api.md#shallrevertix-message.

[2022-08-16 04:21] #34 closed

[2022-08-16 18:36] adbario commented on #70
@janhesters @gambinish

Type definitions are now added for the main API functions, and they can be installed with:

[code]

[2022-08-18 20:25] jribbink opened #171 "Speed up the framework"
## Instructions

Make the testing framework faster so that Jest timeouts don't need to be so long.

### Issue To Be Solved

The testing framework can be quite slow with complex tests (exceeding 10 seconds long).  This can cause discrepancy between local testing and CI runners confusing developers.

### (Optional): Suggest A Solution

There are a few ways which emulator performance can potentially

[2022-08-18 20:57] sisyphusSmiling opened #172 "Set Jest timeout in jest.config.json template"
### Issue To Be Solved

Until performance is improved, tests can take quite a while to complete. When tests fail due to timeout, output is not explicit in the cause and it can be difficult to track down the issue when debugging.

### Suggest A Solution

Simply adding a line in `jest.config.json` to define the timeout would suffice.

### Context
The idea for this arose out of my own process of debu

[2022-08-25 15:32] jribbink opened #175 "Firewall windows show every time test is run"
### Instructions

Prevent firewall windows from bombarding the user while running tests.  They appear every time a test runs and eventually (at least on mac) the whole screen is full of them with a large test suite.

### Problem

Firewall windows show every test run

### Steps to Reproduce

Run any test

### Acceptance Criteria

Firewall windows don't show

[2022-08-25 16:57] jribbink commented on #175
Fix has been merged to emulator and will be available in newest version

[2022-08-25 16:57] #175 closed

[2022-08-26 15:44] #161 closed

[2022-08-26 17:09] #172 closed

[2022-08-26 21:56] #96 closed

[2022-08-26 23:29] #68 closed

[2022-09-07 11:13] maggo opened #180 "Initialize command broken in latest version"
### Problem

When I follow the `flow-js-testing` installation instructions on https://developers.flow.com/tools/flow-js-testing/install I'm installing version `0.3.0-alpha.15`
The next step `npx flow-js-testing init` then fails with `Error: Cannot find module '@onflow/flow-cadut/generator'`

### Steps to Reproduce

1. `npm install @onflow/flow-js-testing`
2. `npx flow-js-testing init`

### Accepta

[2022-09-09 22:34] sisyphusSmiling opened #182 "getAccountAddress() broken - could be dependency issue"
### Problem

Running `getAccountAddress()` results in error. Because this may be a dependency issue, I will also make an issue in [`flow-cadut`](https://github.com/onflow/flow-cadut)

### Steps to Reproduce

 As an example, running the following in a test using `flow-js-testing`:

[code]

Gets us the following output:

[code]

Alternatively, this can be reproduced with an existing repo - [`flow-nf

[2022-09-14 01:03] adbario commented on #182
Having the same issue here as @sisyphusSmiling. Downgraded to `0.3.0-alpha.14` for now to get things rolling again while waiting for a fix.

[2022-09-14 23:34] adbario commented on #182
@gregsantos This is what I get with `0.3.0-alpha.15` on the following test:

[code]

[code]

[2022-09-15 09:24] adbario commented on #182
Please note that the tests on **[flow-nft](https://github.com/onflow/flow-nft/tree/master/lib/js/test)** use `0.3.0-alpha.14` which works fine for me as well. The issues reported are for the latest version `0.3.0-alpha.15`.

To double check this, I upgraded the testing library on flow-nft and all the same errors come up.

[2022-09-15 09:25] adbario commented on #182
@gregsantos Please note that the tests on **[flow-nft](https://github.com/onflow/flow-nft/tree/master/lib/js/test)** use `0.3.0-alpha.14` which works fine for me as well. The issues reported are for the latest version `0.3.0-alpha.15`

To double check this, I upgraded the testing library on flow-nft and all the same errors come up.

[2022-09-15 11:09] bluesign commented on #182
@gregsantos

This is a strange issue ( though was fun to debug), I don't know javascript much. ( so my analysis can be wrong )

Problem is here:

https://github.com/onflow/flow-js-testing/blob/457886be649852e60aafd33e695ff66719c18e01/src/interaction.js#L123

[code]

here somehow `props` having problem passing sometimes ( or somehow overwritten )

changing something like:

[code]
solves the problem

[2022-09-15 15:37] jribbink commented on #182
@bluesign is correct and this is yet another one of these strange microbundle issues related to async function arguments, very similar to previous occurances in @onflow/fcl.  The bundled code looks like the following:

[code]

Note that the arguments come from the inner function `captureLogs` and not the outer function `sendTransaction` as intended.

Using the internal build tool, @onflow/fcl-bund

[2022-09-16 19:26] sisyphusSmiling opened #183 "Mock and/or wait for Emulator block height to run test commands"
### Issue To Be Solved

For testing purposes, it would be helpful to have the ability to wait until a certain block to execute a command.

Context

Working on tests & setting conditionals on `getCurrentBlock().height` and finding it difficult to setup tests to properly account for all cases without the ability to wait for a certain block or mock emulator block height.

[2022-09-18 03:13] adbario commented on #92
@MaxStalker Is there any reasonable way to downgrade CLI with Homebrew for M1 Macs? Brew seems to hold only the latest version.

[2022-09-18 04:09] adbario opened #184 "Invalid proposal key [Error Code: 1006] on 0.3.0-alpha.14"
### Problem

As `0.3.0-alpha.15` has issues with [getAccountAddress](https://github.com/onflow/flow-js-testing/issues/182) and apparently with `@onflow/flow-cadut` as well, we had to downgrade to `0.3.0-alpha.14` to get the `getAccountAddress` working.

Sadly this leads to another error though:
[code]

Next, we downgraded it to `0.3.0-alpha.13`, and finally, all our tests passed.

Have recreated `

[2022-09-18 07:25] bluesign commented on #92
@adbario why do you want to downgrade ?

you can downgrade with install script:

For example:

[code]

[2022-09-18 10:48] adbario commented on #92
@bluesign There are quite a few issues with the latest `flow-js-testing`, but it's still alpha which makes it quite understandable. Personally, I'm not able to use the latest two versions at all, as both of them have different issues. Will do more testing on these today though.

So, while it's pretty unlikely, was thinking to see if downgrading the CLI makes any difference, and this topic seemed t

[2022-09-18 11:01] adbario commented on #182
Javascript just never stops surprising us.

And yes, all the tests within the example folder are passing. But when the library is bundled that doesn't seem to be the case anymore.

[2022-09-19 16:13] gregsantos commented on #92
Much appreciated @adbario!

[2022-09-19 18:48] justinbarry commented on #182
@jribbink Good call on the scoping issue. Was able to patch it in this case.

[2022-09-19 21:05] justinbarry opened #189 "Add npmignore file to slim up npm package"
### Instructions

To reduce disk size of the npm package we need to create a .npmignore.

<img width="264" alt="image" src="https://user-images.githubusercontent.com/328965/191116395-61984962-17c1-4fd9-9a6a-d2b6bfc95792.png">

### Problem

Right now we are including all the things in the npm package like .changesets file.

[2022-09-19 21:52] justinbarry commented on #184
@adbario Does this issue still exist with alpha 16?

[2022-09-19 22:18] adbario commented on #184
@justinbarry This seems to be solved now as well, thanks!

[2022-09-19 22:18] #184 closed

[2022-09-19 23:03] adbario commented on #189
@justinbarry Great idea 👍

It seems more common to use whitelisting using the `files` array in `package.json` these days though. Here's an npm blog article about it, few years old now but great points there https://blog.npmjs.org/post/165769683050/publishing-what-you-mean-to-publish

Happy to drop a PR about this.

[2022-09-29 13:58] MaxStalker commented on #183
It's possible to mock specific block height 😉
Here's example on how to do it:
https://github.com/onflow/flow-js-testing/blob/master/examples/07-block-offset.test.js

[2022-09-29 14:00] MaxStalker commented on #180
@maggo `@onflow/flow-js-testing` and `flow-js-testing` are two different packages 🤔
Either docs is wrong or your process 🤷

[2022-09-29 20:07] ph0ph0 opened #191 "v0.3.0-alpha.16 inoperable with likely RegExp bug affecting imports"
### Instructions

Please fill out the template below to the best of your ability and include a label indicating which tool/service you were working with when you encountered the problem.

### Problem

All tests fail with:

`[Error Code: 1101] cadence runtime error Execution failed:\n' +
        'error: [Error Code: 1054] location (./MetadataViews.cdc) is not a valid location: expecting an AddressL

[2022-09-30 18:02] liofancraze commented on #191
Hello,
I'm having the same issue when sending transactions. It seems that the framework don't succeed in resolving imports.

[2022-10-01 10:58] ph0ph0 commented on #191
Flow CLI: 0.41.0
node: v18.9.0
flow-js-testing: @onflow/flow-js-testing@0.3.0-alpha.16

[2022-10-04 17:58] bluesign commented on #171
Oh I was just gonna create issue on this.

Problem is not the emulator. Recently I ran kitty items tests on my M1 MacBook.

Initially was something like this:

[code]

There are some sleeps ( 2 sec for total, 1 second each for emulator start and stop there ) But still the numbers were huge.

I debugged the problem, it is signing the transaction part. If you use new emulator option `--skip-tx-valid

[2022-10-04 18:41] bluesign commented on #171
with NFT tests: ( after disabling retry on http transport )

[code]

[2022-10-12 19:17] bymi15 commented on #191
Same problem here.
The issues seems to occur only for the latest version: [v0.3.0-alpha.16](https://github.com/onflow/flow-js-testing/releases/tag/v0.3.0-alpha.16)
I also tested with [v0.3.0-alpha.15](https://github.com/onflow/flow-js-testing/releases/tag/v0.3.0-alpha.15) and that works fine.

[2022-10-21 17:06] sisyphusSmiling commented on #182
Looks like this issue could be popping up again in #191. Cross posting here for visibility

[2022-10-21 17:08] sisyphusSmiling commented on #191
@gregsantos could this be related to what was seen in #182?

[2022-10-21 22:22] jribbink commented on #191
PR #190 will fix this (exact same fix as #186 but with `executeScript` instead of `sendTransaction` this time).

[2022-10-21 22:24] jribbink commented on #182
Merging PR #190 should fix this.  Account addresses are stored on chain and since `executeScript` should effectively be broken, it would go to reason that `getAccountAddress` is also broken.

[2022-10-24 23:59] gregsantos commented on #182
Fixed via https://github.com/onflow/flow-js-testing/pull/190

[2022-10-24 23:59] #182 closed

[2022-11-05 12:21] mellosty opened #196 "Unable to run tests with flow-cli@v0.41.2"
### Problem

I am trying to run my tests after upgrading to flow-cli@v0.41.2. Here is the error:
[code]

Setting logging: true, does not log anything. I have downgraded back to v.0.39.3 to make it work.

### Steps to Reproduce

1. Install flow-cli: `sh -ci "$(curl -fsSL https://storage.googleapis.com/flow-cli/install.sh)" -- v0.41.2`
2. Run any test using this library with jest

### Context

I wan

[2022-11-14 23:56] huyndo opened #197 "Emulator start not returning true on success"
### Problem

`emulator.start` does not return `true` on success per documentation [here](https://github.com/onflow/flow-js-testing/blob/master/docs/emulator.md#usage)

### Steps to Reproduce

`console.log(await emulator.start()) // returns undefined`

### Acceptance Criteria

`emulator.start` should return `true` on success

### Context

Integration testing for `fcl` uses this to boot up the emula

[2022-11-16 00:00] #197 closed

[2022-11-22 22:21] mellosty commented on #196
I built flow-js-testing locally, changed the code so it logs to everything and ran it in my tests. Getting following error:
[code]

I don't understand why. Getting data on http://localhost:60232/v1/blocks?height=final and I have upgraded fcl.

[2022-11-28 23:35] #196 closed

[2022-11-30 04:05] adbario commented on #191
Update to the latest version [v0.3.0-alpha.17](https://github.com/onflow/flow-js-testing/releases/tag/v0.3.0-alpha.17), which fixes the issue.